@use 'styles-component-Boxs';
@use 'base';

//colores de la pagina login
$blanco: white;
$verdecito: #21c08b;
$violeta: #ab88ff;
$font_proyect: "Muli", sans-serif;
$fondo_container: rgba(255, 255, 255, 0.1);

.login {
  background: linear-gradient($verdecito, $violeta);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}

.login__container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: $fondo_container;
  border: $blanco solid 2px;
  border-radius: 40px;
  color: $blanco;
  padding: 60px 68px 40px;
  min-height: 700px;
  width: 300px;
}

.login__container--form {
  display: flex;
  flex-direction: column;
  label {
    font-size: 14px;
  }
}

.login__container--remember-me {
  color: $blanco;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  a {
    color: $blanco;
    font-size: 14px;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.login__container--social-media > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.login__container--social-media > div > img {
  width: 30px;
  margin-right: 10px;
}

.login__container--register {
  font-size: 14px;
  a {
    font-size: 16px;
    color: $blanco;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
@media only screen and (max-width: 600px){
 
  .login__container{
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }
  .footer{
    align-items: flex-start;
    flex-direction: column;
  }
}
