body {
    margin: 0px;
    font-family: 'Muli', sans-serif;
}

.header {
    align-items: center;
    background-color: #21c08b;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
}

.header__img {
    margin-left: 30px;
    width: 200px;
}

.main {
    background: linear-gradient(#21c08b, #5E1DFC);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 200px);
}

.main__title {
    color: white;
    font-weight: bold;
    font-size: 100px;
}

.main__subtitle {
    color: white;
    font-size: 25px;
}

.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgb(94, 29, 252);
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}

.flash {
    animation-name: flash;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation-name: pulse;
    animation-duration: 1s;
}